.BundleViewPage .main-image-container {
  position: sticky;
  position: '-webkit-sticky';
  top: 5px;
}
.BundleViewPage .brandLogo {
  width: 80px;
  float: right;
  margin-bottom: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.BundleViewPage .mainViewRow {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding-bottom: 10px;
  margin-bottom: 30px;
}
.BundleViewPage .product-heading {
  width: 100%;
  color: rgb(0, 0, 0, 0.6);
  font-weight: 500;
  text-transform: none;
}
.BundleViewPage .inspired-by {
  font-size: 16px;
  text-transform: none;
  display: block;
  margin-top: 5px;
  font-weight: 500;
}

.BundleViewPage .product-heading span a {
  color: var(--main-color);
  text-decoration: underline;
}

.BundleViewPage .brand-heading {
  color: rgb(0, 0, 0, 0.6);
  font-weight: 500;
}

.BundleViewPage .shopthelook {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  /* padding-bottom: 10px; */
}

.BundleViewPage .shopthelook .button {
  background-color: var(--action-color);
  border-radius: 100px;
  border: none;
  outline: none;
  padding: 12px 40px;
  text-align: center;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}
.BundleViewPage .shopthelook .social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.BundleViewPage .shopthelook .social-links h4 {
  margin-bottom: 0px;
  font-size: 20px;
}
.BundleViewPage .shopthelook .social-icon {
  color: rgb(0, 0, 0, 0.6);
  margin: 0px 5px;
  font-size: 18px;
}
.priceView {
  margin-top: 3px;
  text-align: left;
}

@media (max-width: 400px) {
  .BundleViewPage .brandLogo {
    width: 80px;
  }

  .BundleViewPage .coprate {
    margin-top: 20px;
    padding: 0px 10px;
  }
  .BundleViewPage .productView {
    padding: 0px 10px;
  }

  .BundleViewPage .shopthelook .button {
    padding: 6px 27px;
  }

  .BundleViewPage .shopthelook .social-links h4 {
    margin-bottom: 0px;
    font-size: 18px;
  }
  .BundleViewPage .shopthelook .social-icon {
    font-size: 15px;
  }
}
