.QuickView {
  width: 75%;
  height: 75%;
  background: #fff !important;
  font-weight: 600;
  z-index: 50;
  position: fixed;
  border-radius: 6px;
  overflow: auto;
  padding: 0px !important;
  border-radius: 0px !important;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.bg-overlay-quick {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #000000c9;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 49;
}

.bg-overlay-quick .QuickCloseButton {
  background-color: transparent;
  color: var(--white-100);
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0px 10px;
  position: absolute;
  top: 35px;
  right: 90px;
  opacity: 1 !important;
  z-index: 900000000000;
}

.QuickView .clsButton {
  display: none;
}

@media (max-width: 800px) {
  .QuickView {
    width: 100%;
    min-height: 100%;
    top: 0%;
    left: 0%;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
  }
  .bg-overlay-quick .QuickCloseButton {
    display: none;
  }

  .QuickView .clsButton {
    display: block;
    background-color: transparent;
    color: var(--black-100);
    border: none;
    outline: none;
    padding: 0px 0px;
    font-size: 34px;
    position: absolute;
    top: 0px;
    right: 10px;
    background-color: white;
    height: 26px;
    text-align: center;
    opacity: 1 !important;
    z-index: 51;
  }
  .QuickView .clsButton svg {
    margin-top: -36px;
  }
}
