.QuickView {
  width: 80%;
  height: 80%;
  border: 2px solid gray !important;
  background: #fff;
  font-weight: 600;
  z-index: 50;
  position: fixed;
  border-radius: 6px;
  top: 10%;
  left: 10%;
  overflow: auto;
}

.bg-overlay-quick {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #000000c9;
  opacity: 0.9;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 49;
}

.bg-overlay-quick .QuickCloseButton {
  background-color: transparent;
  color: var(--white-100);
  border: none;
  outline: none;
  border-radius: 50%;
  padding: 0px 10px;
  font-size: 44px;
  position: absolute;
  top: 7px;
  right: 25px;
  opacity: 1 !important;
  z-index: 900000000000;
}

@media (max-width: 900px) {
  .QuickView {
    margin: 0;
    min-width: 50vw;
    position: absolute;
    top: 20%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}

@media (max-width: 600px) {
  .QuickView {
    margin: 0;
    min-width: 50vw;
    position: absolute;
    top: 20%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
