#address .cards-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
#address .customAdressCard {
  background-color: var(--white-100);
  margin: 10px 10px;
}

#address .buttons-div {
  border-top: 2px solid #ececec;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#address .buttons-div button {
  background-color: #f8f8f8;
  outline: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 0;
  color: var(--black-100);
  text-align: center;
  font-weight: 500;
  padding: 5px 25px;
}
#address .address-div {
  width: 80%;
}
#address .address-div p {
  line-height: 20px;
}
#address .homeButton-div {
  position: absolute;
  top: 10px;
  right: 10px;
}
#address .homeButton-div .homeButton {
  border-radius: 3px;
  padding: 3px 6px !important;
}
#address .officeButton-div {
  position: absolute;
  top: 10px;
  right: 10px;
}
#address .officeButton-div .officeButton {
  border-radius: 3px;
  padding: 3px 6px !important;
}
#address .radioSpan {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
}

#address .radioInput {
  cursor: pointer;
}

#address .containerr {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#address .containerr input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#address .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
}

#address .containerr:hover input ~ .checkmark {
  background-color: #ccc;
}

#address .containerr input:checked ~ .checkmark {
  background-color: #165543;
}

#address .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

#address .containerr input:checked ~ .checkmark:after {
  display: block;
}

#address .containerr .checkmark:after {
  top: 4px;
  left: 4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

#orders .statusButton {
  padding: 4px 9px;
  color: #fff;
  border-radius: 30px;
}
#orders .shipped {
  background-color: #198754;
}
#orders .pending {
  background-color: #dc3545;
}
#orders .canceled {
  background-color: #6c757d;
}
#orders .viewIcon {
  color: var(--action-color);
}

#orders .top-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: red;
}

#orders .status-dropdown {
  border-radius: 20px;
  text-align: center;
  padding: 0px 6px;
  font-size: 14px;
}
#whishlist .statusButton {
  padding: 6px 12px;
  color: #fff;
  border-radius: 30px;
}
#whishlist .shipped {
  background-color: #198754;
}
#whishlist .pending {
  background-color: #dc3545;
}
#whishlist .canceled {
  background-color: #6c757d;
}
#whishlist .actionIcons {
  color: var(--action-color) !important;
}

#cards .cards-view {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
#cards .customAdressCard {
  background-color: #ffff;
  margin: 10px 10px;
  width: 32%;
}

#cards .buttons-div {
  border-top: 2px solid #ececec;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

#cards .buttons-div button {
  background-color: #f8f8f8;
  outline: 0;
  box-sizing: border-box;
  box-shadow: 0;
  border: 0;
  color: #000;
  text-align: center;
  font-weight: 500;
  padding: 5px 25px;
}
#cards .cardInfo-div .cardInfo-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
#cards .cardInfo-div p {
  line-height: 20px;
}
#cards .homeButton-div {
  position: absolute;
  top: 10px;
  right: 10px;
}
#cards .homeButton-div .homeButton {
  border-radius: 3px;
  padding: 3px 6px !important;
}
#cards .officeButton-div {
  position: absolute;
  top: 10px;
  right: 10px;
}
#cards .officeButton-div .officeButton {
  border-radius: 3px;
  padding: 3px 6px !important;
}
#cards .header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
#cards .header img {
  height: 20px;
  width: 60px;
}
#whishlist .actioniIcons {
  color: #af8e4a;
  margin: 0px 6px;
  cursor: pointer;
  transition: all 0.5s;
}
#whishlist .actioniIcons:hover {
  opacity: 0.7;
  margin: 0px 6px;
}

#profile .editInputs {
  border: 1.8px solid rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  font-size: 14px;
  font-weight: 600;
  color: #777777;
  margin: 0px;
}
#profile .save-cancel-button-view {
  display: flex;
  justify-content: space-around;
  width: 20%;
  margin-right: auto;
  margin: 20px auto 20px 30px;
}

#profile .save-cancel-button-view button {
  margin: 0px 20px;
  padding: 4px 20px;
  color: #ffff;
  border: none;
  outline: none;
  box-shadow: none;
  border-radius: 3px;
}
#profile .save-cancel-button-view .cancel {
  background-color: #af8e4a;
}
#profile .save-cancel-button-view .save {
  background-color: #198754;
}

#Followers .top-sec {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
