.reviewBox {
  display: flex;
  margin: 30px 0px;
}

.reviewBox .img-box {
  width: 35px;
  margin-right: 10px;
}
.reviewBox .img-box img {
  width: 40px;
  border-radius: 50%;
  height: 40px;
}

.reviewBox .name-date {
  margin-top: 10px;
}
.p-item-box {
  display: flex;
  align-items: center;
  /* justify-content: center; */
}
.p-item-box .p-img {
  width: 50px;
  margin-right: 5px;
}
.p-item-box .p-img img {
  width: 100%;
  border-radius: 6px;
}
.p-item-box .p-title a {
  color: black !important;
  text-decoration: underline;
}

.helpful {
  color: black;
  display: block;
  cursor: pointer;
  margin: 20px;
}
