.VenderProfile {
  box-sizing: border-box;
}

.VenderProfile .vendorInfoView {
  width: 100%;
}

.VenderProfile .vendorInfoView .vendorInfoView_top {
  position: relative;
}
.VenderProfile .vendorInfoView .followBrandButton{
  padding: 12px 40px;
  background-color: #ffff;
  border-radius: 15px;
  font-size: 22px;
  transition: all .5s;
  margin-top: 10px;
}
.VenderProfile .vendorInfoView .followBrandButton:hover{
  opacity: 0.5;

 
}
.VenderProfile .vendorInfoView .followBrandButton .FollowIconHeart{
  font-size: 24px;
}
.VenderProfile .vendorInfoView .vendorInfoView_top .coverImage {
  width: 100%;
  height: 35vh;
  background-image: url("../../assets//images/VenderCover/venderCoverPhotoavif.avif");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.VenderProfile .vendorInfoView .vendorInfoView_top .profilePhotoView {
  position: absolute;
  left: 40px;
  bottom: -80px;
  overflow: hidden;
}

.VenderProfile .vendorInfoView .vendorInfoView_top .profilePhoto {
  width: 180px;
  height: 180px;
  border-radius: 100px;
  border: 2px solid black;
  background-image: url("../../assets/images/VendorProfile/brand2.PNG");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.VenderProfile .vendorInfoView .vendorInfoView_bottom {
  margin-top: 120px;
  padding-left: 20px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView {
  text-align: left;
}
.VenderProfile .vendorInfoView_bottom .brandInfoView .brandName {
  font-weight: 700;
  padding-right: 20px;
  /* border-right: 1px solid black; */
  font-size: 35px;
  text-decoration: none;
}
.vendorInfoView_bottom .brandInfoView .or {
  margin-right: 20px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .starRaiting {
  margin-right: 15px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .raitingPoint {
  font-size: 20px;
  font-weight: 500;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .handShakeRaiting {
  display: inline-block;
  margin-right: 15px;

}
.VenderProfile .vendorInfoView_bottom .brandInfoView .raitingPoint {
  font-size: 18px;
}
.VenderProfile .vendorInfoView_bottom .handShakeIcon {
  font-size: 22px;
  margin-left: 4px;
}
.VenderProfile .vendorInfoView_bottom .handShakePoint {
    font-size: 14px;
}
.VenderProfile .vendorInfoView_bottom .brandInfoView .brandDescription {
  font-size: 18px;
  margin-top: 5px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .venderSales {
  font-size: 22px;
  margin-top: 5px;
}
.VenderProfile .vendorInfoView_bottom .brandInfoView .venderSales_left {
  margin-top: 5px;
  font-size: 22px;
  padding-left: 10px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .venderSales_right {
  font-size: 22px;
  margin-top: 5px;
  margin-left: 20px;
  padding-left: 10px;
}
.Shipping {
  color: gray;
}
.Shipping .shippingHeading {
  font-size: 20px;
  font-weight: 500;
}

.Shipping .shippingLogo {
  font-size: 24px;
  color: rgb(94, 94, 94);
}

.Shipping .shipping-description {
  font-size: 18px;
}

.ShopMember {
  color: gray;
}

.ShopMember .memberProfileImg {
  width: 70px;
  height: 70px;
  border-radius: 100px;
  overflow: "hidden";
  background-image: url("../../assets//images/memberProfile.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ShopMember .socialLogo {
  font-size: 28px;
}
.ShopMember .memberName {
  font-size: 18px;
}


