.VenderProfile {
  box-sizing: border-box;
  margin-top: 0px;
}
.VenderProfile .top-bar-vendder {
  display: flex;
  justify-content: space-between;
}
.VenderProfile .top-bar-vendder h4 {
  text-align: center;
  align-items: center;
}
.VenderProfile .vendorInfoView {
  width: 100%;
  background-color: #f8f8f8;
  position: relative;
}

.VenderProfile .vendorInfoView .vendorInfoView_top {
  position: relative;
}

.VenderProfile .vendorInfoView .followBrandButton {
  padding: 12px 0px;
  background-color: var(--white-100);
  border-radius: 15px;
  font-size: 20px;
  transition: all 0.5s;
  width: 40%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

.VenderProfile .vendorInfoView .followBrandButtonSmall {
  padding: 10px 0px;
  font-size: 20px !important;
  border: none;
  border-radius: 100px;
}

.VenderProfile .vendorInfoView .followBrandButton .FollowIconHeart {
  font-size: 24px;
  color: var(--black-100);
}

.VenderProfile .vendorInfoView .vendorInfoView_top .coverImage {
  width: 100%;
  height: 31vh;
  background-image: url('../../assets//images/VenderCover/venderCoverPhotoavif.avif');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.VenderProfile .vendorInfoView .vendorInfoView_top .profilePhotoView {
  position: absolute;
  left: 30px;
  bottom: -50px;
  overflow: hidden;
}

.VenderProfile .vendorInfoView .vendorInfoView_top .profilePhoto {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  border: 2px solid black;
  background-image: url('../../assets/images/VendorProfile/brand2.PNG');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.VenderProfile .vendorInfoView .vendorInfoView_bottom {
  margin-top: 65px;
  padding: 0px 20px;
  background-color: '#F8F8F8';
  padding-bottom: 20px;
  position: relative;
}

.vendorInfoView_bottom .brandInfoView {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .brandName {
  font-weight: 700;
  padding-right: 20px;
  font-size: 35px;
  text-decoration: none;
  color: var(--black-100);
  margin-top: -8px;
}

.vendorInfoView_bottom .brandInfoView .or {
  margin-right: 20px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .starRaiting {
  margin-right: 3px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .starRaitingView {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .raitingPoint {
  font-size: 20px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.VenderProfile .vendorInfoView_bottom .raitingPointSmall {
  font-size: 15px;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.6);
}
.VenderProfile .vendorInfoView_bottom .brandInfoView .handShakeRaiting {
  display: inline-block;
  margin-right: 15px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .raitingPoint {
  font-size: 18px;
}

.VenderProfile .vendorInfoView_bottom .handShakeIcon {
  font-size: 22px;
  margin-left: 4px;
}

.VenderProfile .vendorInfoView_bottom .handShakePoint {
  font-size: 14px;
}

.VenderProfile .vendorInfoView_bottom .brandInfoView .brandDescription {
  font-size: 17px;
  margin-top: 0px;
  color: var(--black-100);
}

.VenderProfile .venderSales {
  font-size: 18px;
  margin: 10px 0px;
}
.VenderProfile .socialLogoSmall {
  margin-top: 5px;
  font-size: 23px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}
.VenderProfile .vendorInfoView_bottom .brandInfoView .venderSales span {
  margin: 0px 20px 0px 0px;
}

.VenderProfile .shippingType {
  font-size: 18px;
  margin: 10px 0px;
}
.VenderProfile .vendorInfoView_bottom .brandInfoView .shippingType span {
  margin: 0px 20px 0px 0px;
}
.Shipping {
  color: var(--black-100) !important;
  display: flex;
  flex-direction: column;
  justify-content: right;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.Shipping .ShippingMainHeader {
  font-size: 18px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6);
}

.Shipping .shipping-heading {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0px;
}

.Shipping .shippingLogo {
  font-size: 24px;
  color: var(--black-100) !important;
}

.Shipping .shipping-description {
  font-size: 14px;
  color: var(--black-100);
  margin-top: 0px;
}

.ShopMember {
  color: gray;
}
.ShopMember .ShopMemberMainHeading {
  font-size: 20px;
  font-weight: 500;
}
.ShopMember .memberProfileImg {
  width: 60px;
  height: 60px;
  border-radius: 100px;
  overflow: 'hidden';
  background-image: url('../../assets//images/memberProfile.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.ShopMember .memberName {
  font-size: 18px;
  text-align: center;
  font-weight: 500;
  margin: 0px;
}
.ShopMember .socialLogo {
  margin-top: 5px;
  font-size: 28px;
  text-align: center;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 440px) {
  .VenderProfile .vendorInfoView .vendorInfoView_bottom {
    margin-top: 60px;
    padding: 0px 12px;
    padding-bottom: 8px;
  }
  .VenderProfile .vendorInfoView .vendorInfoView_top .profilePhotoView {
    position: absolute;
    left: 30px;
    bottom: -40px;
  }
  .VenderProfile .vendorInfoView .vendorInfoView_top .profilePhoto {
    width: 80px;
    height: 80px;
  }

  .VenderProfile .vendorInfoView .vendorInfoView_top .coverImage {
    height: 22vh;
  }

  .starRaitingView .raitingPoint {
    font-size: 10px !important;
  }
  .VenderProfile .vendorInfoView_bottom .brandInfoView .brandName {
    font-weight: 500;
    font-size: 20px;
    padding-right: 10px;
  }
  .VenderProfile .vendorInfoView_bottom .brandInfoView .brandDescription {
    margin-top: 4px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.7);
  }

  .ShopMember .ShopMemberMainHeading {
    font-size: 12px;
    font-weight: normal;
  }
  .ShopMember .memberProfileImg {
    width: 35px;
    height: 35px;
  }
  .ShopMember .memberName {
    font-size: 12px;
    margin-top: 3px;
  }
  .ShopMember .socialLogo {
    margin-top: 5px;
    font-size: 18px;
  }
  .VenderProfile .venderSales {
    font-size: 15px;
    margin: 0px 0px;
  }

  .VenderProfile .vendorInfoView_bottom .brandInfoView .venderSales span {
    margin: 0px 5px 0px 0px;
  }
  .VenderProfile .shippingType {
    font-size: 12px;
    margin: 10px 0px;
  }
  .VenderProfile .vendorInfoView_bottom .brandInfoView .shippingType span {
    margin: 0px 5px 0px 0px;
  }
}
