.store-list {
    display: flex;
}

.store-list .vendor-list {

    overflow-y: scroll;
    max-width: 400px;
    width: 30%;
    display: inline-block;
    height: calc(100vh - 70px);

}

.store-list .vendor-view {
    position: relative;
    display: inline-block;
    flex: 1;
    overflow-y: scroll;
    height: calc(100vh - 70px);

}

.store-list .vendor-view .center-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.store-list .vendor-list .productsDropDowns{
    border: 2px solid black;
    margin-top: 3px;
}


@media (max-width: 320px) {
    .store-list .vendor-list .productsDropDowns{
        border: 2px solid red;
        width: 50px;
    }
}

@media (max-width: 667px) {
    .store-list .vendor-list .productsDropDowns{
        border-width: 1px;
        width: 80px;
        padding: 0px;
        margin-top: 3px;
        font-size: 12px;
    }
}
@media (max-width: 953px) {
    .store-list .vendor-list .productsDropDowns{
        border-width: 1px;
        width: 80px;
        padding: 0px;
        margin-top: 3px;
        font-size: 12px;
    }
}