.MobileMenuDrawer {
  position: fixed;
  left: 0;
  top: 0;
  width: 340px;
  height: 100vh;
  box-shadow: 3px 4px 20px lightgray;
  background-color: white;
  transition: all 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s,
    box-shadow 0.3s 0.25s, -webkit-box-shadow 0.3s 0.25s;
  z-index: 10;
  overflow: hidden;
}

.MobileMenuDrawer .closeButton {
  background-color: transparent;
  border: none;
  outline: none;
  font-weight: bold;
}

.MobileMenuDrawer .closeButton .searchCrossIcon {
  color: var(--action-color);
  font-size: 25px;
}
.MobileMenuDrawer li {
  display: block;
}

.MobileMenuDrawer .list-item {
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s;
}

.MobileMenuDrawer .list-item .link {
  color: rgba(0, 0, 0, 0.6);
  font-size: 17px;
}
.MobileMenuDrawer .list-item:hover {
  background-color: var(--action-color);
}
.MobileMenuDrawer .ScrollVieww {
  overflow: scroll;
}

.MobileMenuDrawer .closed {
  left: -340px;
}

.MobileMenuDrawer .tab-btn {
  background-color: transparent;
  border: none;
  flex: 1;
  text-align: center;
  border-bottom: 1px solid lightgray;
  color: gray;
  padding-bottom: 14px;
}

.MobileMenuDrawer .selected-tab {
  border-bottom: 1px solid blue;
  color: black;
  font-weight: 500;
}

.MobileMenuDrawer .divider {
  position: relative;
  height: 20px;
  margin: 20px 0px;
}
.MobileMenuDrawer .divider .line {
  height: 1px;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  margin-top: 12 px;
  /* margin-top: 50%÷≥; */
}

@media screen and (max-width: 800px) {
  .MobileMenuDrawer {
    width: 60%;
  }

  .MobileMenuDrawer .fix-bottom {
    width: calc(80% - 10px);
    background-color: #fff;
  }
}

.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-top: 8px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmarkCheckbox-drawer {
  position: absolute;
  top: -10px;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: #eee;
}

.containerCheckbox:hover input ~ .checkmarkCheckbox-drawer {
  background-color: #ccc;
}
.containerCheckbox input:checked ~ .checkmarkCheckbox-drawer {
  background-color: #000;
}

.checkmarkCheckbox-drawer:after {
  content: '';
  position: absolute;
  display: none;
}

.containerCheckbox input:checked ~ .checkmarkCheckbox-drawer:after {
  display: block;
}

.containerCheckbox .checkmarkCheckbox-drawer:after {
  left: 6px;
  top: 3px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.backdrop-invisible {
  position: absolute;
  width: 100%;
  height: 100%;
  top: -67px;
  left: 0;
  z-index: 3;
}
