.ProductDetail {
  background-color: #fff;
  padding: 25px;
}
.ProductDetail .completeHeading {
  color: rgba(0, 0, 0, 0.6);
  text-transform: none !important ;
  font-weight: 600;
  margin: 10px 0px;
}

.ProductDetail .brandLogo {
  width: 150px;
  /* border: 1px solid gainsboro; */
  float: right;
  padding: 10px;
}

.ProductDetail .product-heading {
  width: 100%;
  margin-bottom: 0px;
}

.ProductDetail .product-heading span {
  font-size: 16px;
  text-transform: none;
}

.ProductDetail .product-heading span a {
  color: var(--main-color);
}

.priceView {
  margin-top: 3px;
  text-align: left;
}

.priceView .oldPrice {
  color: gray;
  text-decoration: line-through;
  margin-right: 12px;
  font-size: 20px;
}

.ProductDetail .short-description {
  margin: 10px 0px;
}

.priceView .offer {
  color: var(--main-color);
  font-weight: 600;
  font-size: 20px;
}

.colorSelection {
  align-items: center;
  /* justify-content: center; */
}

.colorSelection p {
  font-weight: 700;
  margin-top: 16px;
  margin-right: 20px;
}
.colorSelection .circle {
  border: 2px solid transparent;

  width: 34px;
  height: 34px;
  text-align: center;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}
.colorSelection .color-selected {
  border: 2px solid black;
}
.colorSelection .inner-circle {
  border: 1px solid black;
  width: 26px;
  height: 26px;
  text-align: center;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}

.sizeSelection {
  align-items: center;
}
.sizeSelection p {
  font-weight: 700;
  margin-top: 16px;
  margin-right: 20px;
}
.sizeSelection .size {
  border: 2px solid transparent;
  font-weight: 600;
  text-align: center;
  min-width: 30px;
  text-align: center;
  margin-right: 10px;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}
.sizeSelection .size p {
  text-align: center;
}
.sizeSelection .size-selected {
  border-bottom: 2px solid black;
}

.productDetail {
  text-align: left;
  margin-top: 20px;
}
.productDetail .productDetailPara {
  font-size: 18px;
}
.productDetail h4 {
  font-weight: 500;
}
.productDetail p {
  font-weight: 500;
  color: gray;
}

.addToCart {
  text-align: left;
  margin-top: 20px;
}

.addToCart .size span {
  font-size: 22px;
  margin-right: 20px;
}

.instock {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

.quantity {
  font-size: 20px;
  font-weight: 600;
}
.addToCart {
  display: flex;
}

.counterButton {
  display: flex;
  margin-right: 20px;
}

.counterButton .logo {
  cursor: pointer;
  padding: 12px;
  background-color: #ffff;
  border: 2px solid rgb(232, 227, 227);
  display: flex;
  align-items: center;
}

.counterButton .minus-btn {
  border-radius: 50% 0 0 50%;
}

.counterButton .plus-btn {
  border-radius: 0 50% 50% 0;
}

.counterButton .countNumber {
  padding: 3px;
  background-color: #e8ecef;
  border-top: 2px solid rgb(232, 227, 227);
  border-bottom: 2px solid rgb(232, 227, 227);
  font-size: 20px;
  text-align: center;
  min-width: 60px;
  font-size: 22px;
}

.wishList .socialheading {
  display: block;
  text-align: left;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.addtowishlist {
  margin-right: 30px;
}
.wishList .socialheading {
  margin-right: 20px;
  /* margin-top: 3px; */
}
.wishList .socialicon {
  /* font-size: 16px; */
  margin-right: 10px;
}
.wishList .socialicon:hover {
  color: var(--main-color);
  cursor: pointer;
}
.share-box {
}
.faq-body {
  padding-top: 0px !important;
}
.addtowishlist i {
  margin-right: 4px;
}
.completeLook {
  text-align: left;
}

.completeLook .cardImageBottom {
  width: 100%;
  height: 300px;
}
.cardBody {
  text-align: center;
}
/* /////////////////////////////// */

.cardImage {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}
.cardHeading {
  font-size: 80px;
  color: white;
  text-align: center;
}

.buttonOutline {
  border-color: var(--main-color);
  border-width: 3px;
  color: var(--main-color);
  font-weight: 700;
}
.brandName {
  text-decoration: underline;
}
.buttonView {
  text-align: left;
  margin-top: 20px;
}
.addButton {
  background-color: var(--main-color);
  color: #ffff;
  font-size: 20px;
  border-radius: 50px;
  padding: 4px 20px;
  height: 46px;
  font-size: 16px;
}
.stockAva {
  color: rgb(174, 169, 169);
}

.oldPricecard {
  color: gray;
  text-decoration: line-through;
}

.tab-container {
  width: 100%;
  border-bottom: 2px solid #eaeaea;
  /* overflow:scroll ; */
  /* height: 40px; */
}
.tab-container .tab {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -2px;
  cursor: pointer;
}
.tab-container .tab p {
  display: inline-block;
}
.tab-container .tab span {
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
  background-color: #eaeaea;
}
.tab-container .tab-active {
  border-bottom: 2px solid black;
}

@media screen and (max-width: 800px) {
  .content-product {
    padding: 10px;
  }
  .slide-single {
    margin-top: 10px;
  }
  .slide-single .slide-content {
    /* display: block !important;
    text-align: center; */
  }
  .slide-single .slide-content .p-title {
    font-size: 12px;
  }
  .slide-single .slide-content .p-price {
    font-size: 12px;
  }
  .slide-single .slide-content .p-brand {
    width: 50px;
  }

  .getInspiration {
    display: block !important;
    text-align: center;
  }
  .getInspiration h2 {
    margin-right: auto !important;
  }
  .BundleView .LookButtons {
    justify-content: center;
  }
  .BundleProductsSlider .p-brand {
    margin-left: auto !important;
  }
}
