.CartDrawer {
  position: fixed;
  right: 0;
  top: 0;
  width: 350px;
  height: 100vh;
  box-shadow: 3px 4px 20px lightgray;
  background-color: white;
  transition: right 0.4s cubic-bezier(0.785, 0.135, 0.15, 0.86) 0.25s,
    box-shadow 0.3s 0.25s, -webkit-box-shadow 0.3s 0.25s;
}

.CartDrawer .forgotPassword {
  color: #007bff;
}

.closedDrawer {
  right: -350px;
}
.CartDrawer .header {
  padding: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.CartDrawer .tab-btn {
  background-color: transparent;
  border: none;
  flex: 1;
  text-align: center;
  border-bottom: 1px solid lightgray;
  color: gray;
  padding-bottom: 14px;
}

.CartDrawer .selected-tab {
  border-bottom: 1px solid blue;
  color: black;
  font-weight: 500;
}

.CartDrawer .divider {
  position: relative;
  height: 20px;
  margin: 20px 0px;
}
.CartDrawer .divider .line {
  height: 1px;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  margin-top: 12 px;
  /* margin-top: 50%÷≥; */
}

.CartDrawer .text {
  position: absolute;
  text-align: center;
  background-color: white;
  top: 50%;
  left: 50%;
  padding: 5px;
  transform: translate(-50%, -50%);
}
.CartDrawer .closeBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 16px;
  top: 10px;
  padding: 10px 12px;
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  color: rgba(0, 0, 0, 0.4);
}
.CartDrawer .closeBtn .timeIcon {
  font-weight: normal;
}
.CartDrawer .orderList {
  display: flex;
  flex-direction: column;
}
.singleOrder {
  display: flex;
  justify-content: space-between;
  padding: 15px 10px;
}
.infoView {
  display: flex;
}
.singleOrder .orderImage {
  width: 70px;
  height: 70px;
}

.singleOrder .price span {
  color: var(--main-color);
}

.singleOrder .quantity {
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 0px 10px;
}
.singleOrder .quantity span {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding: 0px 6px;
  color: rgba(0, 0, 0, 0.4);
}
.singleOrder .quantity span button {
  border: none;
  background-color: transparent;
  padding: 0;
}

.singleOrder .quantity span:last-child {
  border: none;
}

.CartDrawer .bottomDiv {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.CartDrawer .bottomDiv .subTotal {
  display: flex;
  justify-content: space-between;
  padding: 15px 12px;
}

.CartDrawer .bottomDiv .subTotal span {
  font-weight: bold;
  font-size: 18px;
}
.CartDrawer .bottomDiv .subTotal .subPrice {
  color: var(--main-color);
}
.CartDrawer .bottomDiv .buttonsDiv {
  padding: 15px 12px;
  display: flex;
  flex-direction: column;
  color: var(--main-color);
}
.CartDrawer .bottomDiv .buttonsDiv button,
.CartDrawer .bottomDiv .buttonsDiv a {
  margin: 3px 0px;
  border: none;
  outline: none;
  padding: 9px 0px;
  border-radius: 20px;
  background-color: #f7f7f7;
  text-align: center;
}
.CartDrawer .bottomDiv .buttonsDiv .checkout {
  background-color: var(--main-color);
  color: #fff;
}
