.QuickProductDetail {
  background-color: #fff;
  padding: 0px !important;
}
.QuickProductDetail .completeHeading {
  color: rgba(0, 0, 0, 0.6);
  text-transform: none !important ;
  font-weight: 600;
  margin: 6px 0px;
}

.QuickProductDetail .brandLogo {
  width: 60px;
  float: right;
}

.QuickProductDetail .product-heading {
  width: 100%;
  margin-bottom: 0px;
}

.QuickProductDetail .product-heading span {
  font-size: 16px;
  text-transform: none;
}

.QuickProductDetail .product-heading span a {
  color: var(--main-color);
}

.QuickProductDetail .priceView {
  margin-top: 2px;
  text-align: left;
}

.QuickProductDetail .priceView .oldPrice {
  color: gray;
  text-decoration: line-through;
  margin-right: 12px;
  font-size: 20px;
}

.QuickProductDetail .QuickProductDetail .short-description {
  margin: 10px 0px;
}

.QuickProductDetail .priceView .offer {
  color: var(--main-color);
  font-weight: 600;
  font-size: 20px;
}

.QuickProductDetail .colorSelection {
  align-items: center;
}

.QuickProductDetail .colorSelection p {
  font-weight: 700;
  margin-top: 5px !important;
  margin-right: 20px;
}
.QuickProductDetail .colorSelection .circle {
  border: 2px solid transparent;
  width: 27px;
  height: 27px;
  text-align: center;
  border-radius: 50%;
  margin-right: 5px;
  display: flex;
  cursor: pointer;
  align-items: center;
  transition: all 0.5s;
}
.QuickProductDetail .colorSelection .color-selected {
  border: 2px solid black;
}
.QuickProductDetail .colorSelection .inner-circle {
  border: 1px solid black;
  width: 18px;
  height: 18px;
  text-align: center;
  border-radius: 50%;
  margin: 2px;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}

.QuickProductDetail .sizeSelection {
  align-items: center;
}
.QuickProductDetail .sizeSelection p {
  font-weight: 700;
  margin-top: 4px;
  margin-right: 20px;
}
.QuickProductDetail .sizeSelection .size {
  border: 2px solid transparent;
  font-weight: 600;
  text-align: center;
  min-width: 30px;
  text-align: center;
  margin-right: 10px;
  display: flex;
  cursor: pointer;
  transition: all 0.5s;
}
.QuickProductDetail .sizeSelection .size p {
  text-align: center;
}
.QuickProductDetail .sizeSelection .size-selected {
  border-bottom: 2px solid black;
}

.QuickProductDetail {
  text-align: left;
  margin-top: 20px;
}
.QuickProductDetail .QuickProductDetailPara {
  font-size: 18px;
}
.QuickProductDetail h4 {
  font-weight: 500;
}
.QuickProductDetail p {
  font-weight: 500;
  color: gray;
}

.QuickProductDetail .instock {
  color: red;
  font-size: 20px;
  font-weight: 600;
}

.QuickProductDetail .quantity {
  font-size: 20px;
  font-weight: 600;
}

.QuickProductDetail .addToCart {
  display: flex !important;
  justify-content: flex-start !important;
  align-items: flex-end !important;
  margin: 0;
}

.QuickProductDetail .addToCart .size span {
  font-size: 22px;
  margin-right: 20px;
}

.QuickProductDetail .addToCart .counterButton {
  display: flex;
  height: 40px;
}

.QuickProductDetail .addToCart .counterButton .logo {
  cursor: pointer;
  padding: 5px 8px !important;
  background-color: #ffff;
  border: 2px solid rgb(232, 227, 227);
  display: flex;
  align-items: center;
  font-size: 12px;
}

.QuickProductDetail .addToCart .counterButton .minus-btn {
  border-radius: 50% 0 0 50%;
}

.QuickProductDetail .addToCart .counterButton .plus-btn {
  border-radius: 0 50% 50% 0;
}

.QuickProductDetail .addToCart .counterButton .countNumber {
  background-color: #e8ecef;
  border-top: 2px solid rgb(232, 227, 227);
  border-bottom: 2px solid rgb(232, 227, 227);
  text-align: center;
  min-width: 30px !important;
  font-size: 17px !important;
}
.QuickProductDetail .wishList {
  padding: 0;
  margin: 0;
}
.QuickProductDetail .wishList .socialheading {
  display: block;
  text-align: left;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.QuickProductDetail .wishList .addtowishlist {
  background-color: transparent;
  border: 2px solid rgba(0, 0, 0, 0.6);
  padding: 4px;
}

.QuickProductDetail .addtowishlist {
  margin-right: 30px;
}
.QuickProductDetail .wishList .socialheading {
  margin-right: 20px;
}
.QuickProductDetail .wishList .socialicon {
  margin-right: 10px;
}
.QuickProductDetail .wishList .socialicon:hover {
  color: var(--main-color);
  cursor: pointer;
}

.QuickProductDetail .faq-body {
  padding-top: 0px !important;
}
.QuickProductDetail .addtowishlist i {
  margin-right: 4px;
}
.QuickProductDetail .completeLook {
  text-align: left;
}

.QuickProductDetail .completeLook .cardImageBottom {
  width: 100%;
  height: 300px;
}
.QuickProductDetail .cardBody {
  text-align: center;
}

.QuickProductDetail .cardImage {
  height: 200px;
  width: 200px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: grid;
  place-items: center;
}
.QuickProductDetail .cardHeading {
  font-size: 80px;
  color: white;
  text-align: center;
}

.QuickProductDetail .buttonOutline {
  border-color: var(--main-color);
  border-width: 3px;
  color: var(--main-color);
  font-weight: 700;
}
.QuickProductDetail .brandName {
  text-decoration: underline;
}
.QuickProductDetail .buttonView {
  text-align: left;
  margin-top: 20px;
}
.QuickProductDetail .addToCart .addButton {
  background-color: var(--white-100);
  color: var(--action-color);
  padding: 5px 18px;
  font-size: 16px;
  font-weight: normal;
  border-radius: 0px;
  border: 2px solid var(--action-color);
  margin-top: 10px;
  max-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: normal;
}
.QuickProductDetail .addButton:hover {
  background-color: var(--action-color);
  color: var(--white-100);
}

.QuickProductDetail .stockAva {
  color: rgb(174, 169, 169);
}

.QuickProductDetail .oldPricecard {
  color: gray;
  text-decoration: line-through;
}

.QuickProductDetail .tab-container {
  width: 100%;
  border-bottom: 2px solid #eaeaea;
  /* display: flex;
  justify-content: flex-start;
  align-items: center; */
}
.QuickProductDetail .tab-container .tab {
  display: inline-block;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: -2px;
  cursor: pointer;
}
.QuickProductDetail .tab-container .tab p {
  display: inline-block;
}
.QuickProductDetail .tab-container .tab span {
  border-radius: 50%;
  padding: 5px;
  margin-left: 10px;
  background-color: #eaeaea;
}
.QuickProductDetail .tab-container .tab-active {
  border-bottom: 2px solid black;
}
@media screen and (max-width: 500px) {
  .QuickProductDetail .tab-container .tab {
    font-size: 12px;
  }
}
@media screen and (max-width: 800px) {
  .QuickProductDetail .content-product {
    padding: 10px;
  }
  .QuickProductDetail .slide-single {
    margin-top: 10px;
  }

  .QuickProductDetail .slide-single .slide-content .p-title {
    font-size: 12px;
  }
  .QuickProductDetail .slide-single .slide-content .p-price {
    font-size: 12px;
  }
  .QuickProductDetail .slide-single .slide-content .p-brand {
    width: 50px;
  }

  .QuickProductDetail .getInspiration {
    display: block !important;
    text-align: center;
  }
  .QuickProductDetail .getInspiration h2 {
    margin-right: auto !important;
  }
  .QuickProductDetail .BundleView .LookButtons {
    justify-content: center;
  }
  .QuickProductDetail .BundleProductsSlider .p-brand {
    margin-left: auto !important;
  }
}
