.MeetSeller {
  padding: 20px;
}
.MeetSeller img {
  height: 75px;
  width: 60px;
  border-radius: 12px;
}
.MeetSeller .name {
  margin: 0;
}
.MeetSeller .ownerOff {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
}
.MeetSeller .ownerOff span {
  text-decoration: underline;
}
.MeetSeller .messageButtonDiv {
  text-align: left;
  margin-top: 8px;
}
.MeetSeller .messageButtonDiv .messageButton {
  background-color: transparent;
  border: 2px solid #000;
  width: auto;
  border-radius: 100px;
  padding: 3px 40px;
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  margin: 10px auto;
}
.MeetSeller .description {
  text-align: left;
}

@media (max-width: 500px) {
  .MeetSeller .messageButtonDiv {
    text-align: center;
  }
  .MeetSeller .description {
    text-align: center;
  }
}
