.NavbarLinks {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
}

.NavbarLinks .NavbarLinks-Item {
  padding: 0px;
  margin: 0px 10px;
}
.NavbarLinks .NavbarLinks-Item .NavLink {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  margin-top: 6px;
  padding: 0px;
  padding-bottom: 10px;
}
.NavbarLinks .NavbarLinks-Item .NavLink:active,
.NavbarLinks .NavbarLinks-Item .NavLink:focus,
.NavbarLinks .NavbarLinks-Item .NavLink:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.customNavbar {
  height: 71px;
}

.signInLink {
  border-left: 1px solid rgb(236, 248, 228);
  border-right: 1px solid rgb(236, 248, 228);
  position: relative;
  padding-top: 2px;
  text-align: center;
  width: 92.41px;
}
.signInLink:hover {
  background-color: rgb(235, 233, 233);
  transition: all 0.5s;
}
.signInLogo {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
}

.signInText {
  font-size: 14px;
  color: rgb(100, 99, 99);
}
.CartBadge {
  background-color: #5c77fc;
  border-radius: 50%;
  color: #ffff;
  width: 18px;
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: 20px;
  padding: 0px;
}

.mobile-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  height: 51px;
  align-items: center;
}

.line-btns {
  width: 40px;
  padding-right: 30px;
  cursor: pointer;
}

.line-btns .line {
  height: 3.5px;
  background-color: black;
  width: 25px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.line-btns .line-md {
  width: 30px;
}

.mobile-nav .icons-nav {
  justify-content: flex-end;
}

.mobile-nav .icons-nav ul {
  justify-content: flex-end;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.search-mob {
  flex: 1;
  position: relative;
  margin: 0px 10px;
  height: 100%;
  padding: 10px 0px;
}
.search-mob .mob-search-logo {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}
.search-mob .logo-mob {
  padding-right: 20px;
}

.search-mob .search-cross-iconMob {
  font-size: 30px;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}

.search-mob input {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 20px !important;
  padding: 8px;
  margin: 0px;
  padding-right: 20px;
}

.search-mob .icon-s-mob {
  position: absolute;
  right: 45px;
  top: 17px;
}
.search-desktop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;
  align-items: flex-end;
  position: relative;
  width: 92.41px;
  
}

.search-desktop input {
  width: 200px;
  border: 2px solid rgba(0, 0, 0, 0.5) !important;
  border-radius: 20px !important;
  padding: 6px;
  padding-right: 20px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 500;
  font-size: 18px;
  position: absolute;
  right: 30px;
  clear: both;
}

.search-desktop .icon-s {
  position: absolute;
  right: 45px;
  top: 23px;
}

.search-desktop .searchCrossIcon {
  font-size: 35px;
  font-weight: normal;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.5);
}
.icons-nav {
  margin-left: 10px;
}
.icons-nav a {
  padding: 4px;
  font-size: 24px !important;
}

/* @media (max-width: 400px) {
  .mobile-nav .icons-nav ul {
    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
} */
