.NavbarLinks {
  display: flex;
  margin-left: 5px;
  justify-content: space-between;
}

.NavbarLinks .NavbarLinks-Item {
  padding: 0px;
  margin: 0px 10px;
}
.NavbarLinks .NavbarLinks-Item .NavLink {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.4);
  font-weight: 500;
  margin-top: 6px;
  padding: 0px;
  padding-bottom: 10px;
}
.NavbarLinks .NavbarLinks-Item .NavLink:active,
.NavbarLinks .NavbarLinks-Item .NavLink:focus,
.NavbarLinks .NavbarLinks-Item .NavLink:hover {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

.custonNavbar {
  height: 71px;
}

.signInLink {
  border-left: 0.5px solid rgb(222, 220, 220);
  border-right: 0.5px solid rgb(222, 220, 220);
  position: relative;
  padding-top: 2px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}
.signInLink:hover {
  background-color: rgb(235, 233, 233);
  transition: all 0.5s;
}
.signInLogo {
  font-size: 18px;
  color: rgb(47, 47, 47);
}
.signInText {
  font-size: 14px;
  color: rgb(100, 99, 99);
}
.CartBadge {
  background-color: #5c77fc;
  border-radius: 50%;
  color: #ffff;
  width: 18px;
  font-size: 12px;
  position: absolute;
  top: 6px;
  right: 20px;
  padding: 0px;
}

.mobile-nav {
  display: flex;
  padding: 5px;
  height: 51px;
  align-items: center;
}

.line-btns {
  width: 40px;
  padding-right: 30px;
  cursor: pointer;
}

.line-btns .line {
  height: 3.5px;
  background-color: black;
  width: 25px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.line-btns .line-md {
  width: 30px;
}

.mobile-nav .icons-nav {
  justify-content: flex-end;
}
.search-mob {
  flex: 1;
  position: relative;
}

.logo-mob{
  padding-right: 20px;
}

.search-mob input {
  width: 100%;
  border: 2px solid !important;
  border-radius: 20px !important;
  padding: 8px;
  margin: 0px;
  padding-right: 20px;
}

.search-mob .icon-s{
  position: absolute;
  right: 10px;
  top: 10px;

}

.icons-nav {
  margin-left: 10px
}
.icons-nav a{
  padding: 4px;
  font-size: 24px!important;
}