#checkout-topbar {
  border: 2px solid rgba(0, 0, 0, 0.2);
  padding: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}
#checkout-topbar .singleTab {
  border-right: 2px dotted rgba(0, 0, 0, 0.2);
  padding: 20px 40px;
  text-align: center;
  position: relative;
  width: calc(100% / 4);
}

#checkout-topbar .singleTab:last-child {
  border: none;
}
#checkout-topbar .singleTab p {
  margin-top: 10px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}
#checkout-topbar .singleTab .checkedIconDiv {
  position: absolute;
  top: 10px;
  left: 20px;
  color: #e6f9f0;
}
#checkout-topbar .singleTab .checkedIcon {
  font-size: 24px;
}
#checkout-topbar .singleTab .TabIcon {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.5);
}

#Shoppingcart .h3-text {
  font-weight: 600 !important;
  font-size: 22px;
  color: #000;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

#OrderSummary .Header {
  background-color: #f7f7f7;
  text-align: center;
  padding: 10px 0px;
}

#OrderSummary .Header span {
  font-weight: bold;
  font-size: 18px;
}

#OrderSummary .Section {
  color: rgba(0, 0, 0, 0.6);
  text-align: center;
  padding: 10px 0px;
}

#OrderSummary .Bottom {
  text-align: center;
}
<<<<<<< HEAD

=======
#CartTotal {
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
}
#CartTotal .Header {
  text-align: left;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 600;
}
#CartTotal .section-item {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px 0px;
}

#CartTotal .section-item:last-child {
  border: none;
}

#CartTotal .section-item .key {
  font-weight: 600;
}
#CartTotal .section-item .key {
  font-weight: normal;
}

#CartTotal .section-item .totalPrice {
  color: #f5a71c;
  font-weight: bold;
  font-size: 18px;
  margin: 0px;
}

#Shoppingcart .buttonDiv {
  background-color: #f5a71c;
  margin: 10px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#Shoppingcart .buttonDiv button {
  border: none;
  outline: none;
  width: 100%;
}
>>>>>>> ca300b158ae076bf87fc7436c70f8165fe3fce5f
#Shoppingcart .profileView {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
}
#Shoppingcart .profileView_1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#Shoppingcart .profileView_1 .name {
  color: #000;
  font-weight: 600;
}
#Shoppingcart .profile_email {
  color: "#fdd700";
}
#Shoppingcart .profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  resize: "contain";
  margin-right: 30px;
}
#Shoppingcart .EditProfileLink {
  background-color: #fff;
  color: #000;
  padding: 5px 12px;
  box-shadow: 3px 3px 3px 0.5px rgb(0, 0, 0, 0.3);
}

#Detail .header {
  background-color: #f7f7f7;
  padding: 10px 20px;
}

#Detail .header span {
  font-size: 18px;
  font-weight: bold;
}

#Detail .TabelDiv {
  margin: 20px 0px;
}

#Detail .TabelDiv .shippmentProcess {
  margin-bottom: 5px;
  color: #000;
}

#Detail .TabelDiv .shippmentProcessDescription {
  color: rgba(0, 0, 0, 0.5);
}
#Payment .header {
  background-color: #f7f7f7;
  padding: 10px 20px;
}

#Payment .header span {
  font-size: 18px;
  font-weight: bold;
}

#Payment .orderList {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
}

#Payment .orderList .singleOrder {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px 0px;
}
#Payment .orderList .singleOrder:last-child {
  border-bottom: none;
}
#Payment .orderList .singleOrder .infoView {
  display: flex;
}
#Payment .orderList .singleOrder img {
  width: 100px;
  height: 100px;
}
#Payment .orderList .singleOrder .title {
  color: #000;
  font-weight: 600;
}
#Payment .orderList .singleOrder .price {
  color: #fdd700;
}
#Payment .orderList .singleOrder .size span {
  color: rgba(0, 0, 0, 0.5);
}
#Payment .orderList .singleOrder .color span {
  color: rgba(0, 0, 0, 0.5);
}

#Payment .orderList .singleOrder .quantity {
  font-size: 14px;
  text-align: center;
  font-weight: 600;
  color: #000;
}
#Payment .orderList .singleOrder .quantity span {
  color: rgba(0, 0, 0, 0.6);
}
#Payment .orderList .singleOrder .EditProfileLink {
  background-color: #fff;
  color: #000;
  padding: 3px 12px;
  border: 1px solid rgb(0, 0, 0, 0.3);
  font-weight: 600;
}

#Payment .orderList .singleOrder .EditProfileLink .editIcon {
  color: rgba(0, 0, 0, 0.5);
}
#Payment .billingAddress {
  background-color: #f7f7f7;
  padding: 20px;
}

#Payment .billingAddress .shippingTo .heading,
#Payment .billingAddress .paymentMeathod .heading {
  font-size: 18px;
  color: #000;
  border: none !important;
  text-align: left !important;
  margin: 0 !important;
  padding: 0;
  margin-bottom: 10px !important;
}

#Payment .billingAddress .shippingTo .client,
#Payment .billingAddress .shippingTo .address,
#Payment .billingAddress .shippingTo .phone,
#Payment .billingAddress .paymentMeathod .creditCard {
  font-size: 16px;
}
#Payment .billingAddress .shippingTo .client span,
#Payment .billingAddress .shippingTo .address span,
#Payment .billingAddress .shippingTo .phone span,
#Payment .billingAddress .paymentMeathod .creditCard span {
  color: rgba(0, 0, 0, 0.6);
}

#Payment .buttonDiv {
  margin: 20px 0px;
  display: flex;
  justify-content: space-between;
}

#Payment .buttonDiv button {
  width: 45%;
  border: none;
  outline: none;
  padding: 6px 0px;
  border-radius: 3px;
}

#Payment .buttonDiv .completeOrder {
  color: #fff;
  background-color: #f4a51c;
}
