.RelatedProductsSlider {
  margin: 0px 40px;
}
.RelatedProductsSlider .slide-single {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding: 5px;
  position: relative;
}

.RelatedProductsSlider .slide-single img {
  width: 100%;
  object-fit: cover;
  height: 280px;
}
.RelatedProductsSlider .slick-next {
  right: -30px !important;
}

.RelatedProductsSlider .slick-prev {
  left: -30px !important;
}
.RelatedProductsSlider .slide-single:hover .icon {
  display: block;
  margin-top: 0px;
  opacity: 1;
}

.RelatedProductsSlider .buttons {
  right: 10px;
  top: 10px;
  position: absolute;
  z-index: 2;
}

.RelatedProductsSlider .buttons span {
  display: block;
  background-color: transparent;
  background-color: white;
  color: black;
  border-radius: 50%;
  border: none;
  width: 30px;
  display: block;
  height: 30px;
  padding: 4px 7px;
  margin: 5px;
  z-index: 2;
  cursor: pointer;
}

.RelatedProductsSlider .buttons .icon {
  opacity: 0;
  transition: all 0.5s ease;
  margin-top: -37px;
  z-index: 1;
}

.RelatedProductsSlider .textArea {
  opacity: 0;
  position: absolute;
  background-color: #fff;
  padding: 10px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  width: 65%;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 20px;
  text-align: center;
  z-index: 3;
}

.RelatedProductsSlider .textArea p {
  margin: 0px;
}
.RelatedProductsSlider .slide-single:hover .textArea {
  opacity: 1;
}

@media (max-width: 500px) {
  .RelatedProductsSlider .slide-single {
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    padding: 2px;
    position: relative;
  }
  .RelatedProductsSlider .singleImageBelow {
    height: 200px !important;
    width: 100% !important;
  }

  .RelatedProductsSlider .slick-next {
    right: -50px !important;
  }

  .RelatedProductsSlider .slick-prev {
    left: -50px !important;
  }
  .RelatedProductsSlider .textArea {
    padding: 5px;
    width: 85%;
    bottom: 10px;
    text-align: center;
    z-index: 3;
    font-size: 10px;
  }
  .RelatedProductsSlider .textArea p {
    font-size: 12px;
  }
}
