.ReviewsTab .tab p {
  font-size: 23px !important;
}

.ReviewsTab .tab span {
  font-size: 16px !important;
  margin-left: 8px;
}

.ReviewsTab .starRaitingTop {
  margin-left: 6px;
  margin-top: -10px;
}

@media screen and (max-width: 500px) {
  .ReviewsTab .tab p {
    font-size: 14px !important;
  }
  .ReviewsTab .tab span {
    font-size: 10px !important;
    margin-left: 5px;
  }
}
