.ReviewsTab .tab p {
  font-size: 24px !important;
}

.ReviewsTab .tab span {
  font-size: 18px !important;
  margin-left: 10px;
}

.ReviewsTab .starRaitingTop {
  margin-left: 6px;
  margin-top: -10px;
}

@media screen and (max-width: 768px) {
  .ReviewsTab .tab p {
    font-size: 14px !important;
  }
}
