.ReviewsTab .tab p {
  font-size: 21px !important;
}

.ReviewsTab .starRaitingTop {
  margin-left: 3px;
}

@media screen and (max-width: 768px) {
  .ReviewsTab .tab p {
    font-size: 14px !important;
  }
}
