.lookbook {
  width: 100vw !important;
}

.single-dot {
  padding: 8px 8px;
  z-index: 1000 !important;
  position: absolute !important;
}
.lookbook .lookbook-block .lookbook-dot.dot3 {
  top: 23% !important;
  left: 40%;
}

.lookbook .lookbook-block .lookbook-dot.dot4 {
  top: 45% !important;
  right: 30% !important;
}
.lookbook .lookbook-block .lookbook-dot.dot2 {
  top: 30% !important;
  left: 40% !important;
}
.img-brand {
  width: 50px;
  height: 25px;
}

.lookbook .title-dot {
  color: var(--black-100) !important;
  color: rgba(0, 0, 0, 0.7) !important;
  font-size: 14px !important;
  font-weight: 500 !important;
  margin: 0px !important;
  padding: 0px !important;
  width: auto !important;
  text-align: left !important;
  margin-bottom: 3px !important;
}
.lookbook .price-dot {
  color: var(--main-color) !important;
  font-size: 13px !important;
  font-weight: 500 !important;
  margin: 0px !important;
  padding: 0px !important;
  width: auto !important;
  text-align: left !important;
}
.lookbook .addToCart {
  border: 1px solid var(--action-color) !important;
  background-color: transparent;
  color: var(--action-color);
  text-align: center;
  margin: 5px auto;
}

.lookbook .addToCart:hover {
  background-color: var(--action-color) !important;
  color: var(--white-100);
}
.slick-next {
  right: 10% !important;
}
.singleItem {
  width: 40px;
  height: 40px;
  background-color: #eeeeee;
  border-radius: 50%;
  text-align: center;
  margin: 0px 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
}
.activeSingleSlide {
  background-color: #bdbaba;
}
